server:
  port: 8189
  servlet:
    context-path: /pool
spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:pooldb;MODE=PostgreSQL
    username: sa
    password:
  jpa:
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: false

pagination:
  page-size: 3

validation:
  birth-min-date: 01.01.1952

max-count: 10
